@using Microsoft.AspNetCore.Identity
@using Echelon.Models

@inject UserManager<ApplicationUser> UserManager

<h2>Courses</h2>
@{
    if (UserManager.GetUserAsync(User).Result.Roles == "Student")
    {
        ViewData["Title"] = "Student Courses";
        <h3>Student</h3>
    }
    else if (UserManager.GetUserAsync(User).Result.Roles == "Teacher")
    {
        ViewData["Title"] = "Teacher Courses";
        <h3>Teacher</h3>

    }
    else if (UserManager.GetUserAsync(User).Result.Roles == "Administrator")
    {
        ViewData["Title"] = "Admin Courses";
        <h3>Admin</h3>
    }
    else
    {
        <h3>ERROR</h3>
    }
}