@using Microsoft.AspNetCore.Identity
@using Echelon.Models

@inject UserManager<ApplicationUser> UserManager

<h2>Grades</h2>
@{
    if (UserManager.GetUserAsync(User).Result.Roles == "Student")
    {
        ViewData["Title"] = "Student Grades";
        //Stored procedure to get all student courses, grades per course, assignments with thier grades
        //Stored procedure to get all student courses, grades per course, assignments with thier grades from archived courses
        //Stored procedure to get student attendance per course
        //Stored procedure to get student attendance per course from archived courses
    }
    else if (UserManager.GetUserAsync(User).Result.Roles == "Teacher")
    {
        ViewData["Title"] = "Teacher Grades";
        //Stored procedure to get all courses they made, students in each course, students overall grades per course, students assignments with grade per course, able to edit
        //Stored procedure to get ^^^^^ from archived classes. able to edit
        //Stored procedure to get students attendance per course. able to edit
        //Stored procedure to archive a course. 
        //Stored procedure that copies a selected course(can be archived or active) and makes an editable duplicate that is active.
        //Make courses auto archive after course end date.

    }
    else if (UserManager.GetUserAsync(User).Result.Roles == "Administrator")
    {
        ViewData["Title"] = "Admin Grades";
        //All teacher stored procedures but unable to edit.
    }
    else
    {
        <h3>ERROR</h3>
    }
}