@using Microsoft.AspNetCore.Identity
@using Echelon.Models

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
}
<h2>Home</h2>
@{ 
    if (UserManager.GetUserAsync(User).Result.Roles == "Student")
    {
        <h3>Student</h3>
    }
    else if (UserManager.GetUserAsync(User).Result.Roles == "Teacher")
    {
        <h3>Teacher</h3>

    }
    else if (UserManager.GetUserAsync(User).Result.Roles == "Administrator")
    {
        <h3>Admin</h3>
    }
    else {
        <h3>ERROR</h3>
    }
}

